.actions
	max-width 1080px
	margin 0 auto 100px auto
	&__title
		margin 80px 0 40px 0
		text-align center
		text-transform uppercase
		letter-spacing .03em
		@media (min-width 500px)
			font-size 48px
		@media (max-width 500px)
			font-size 20px
	&__list
		display flex
		flex-flow row
		flex-wrap wrap
		margin-bottom -20px
	&__item
		width 50%
		box-sizing border-box
		padding-bottom 20px
		&:nth-of-type(2n-1)
			padding-right 10px
		&:nth-of-type(2n)
			padding-left 10px


.actions-item
	background $color__white
	display block
	text-align center
	color $color__gray
	text-transform uppercase
	letter-spacing .05em
	padding 20px 30px 23px 30px
	height 100%
	box-sizing border-box
	&__image
		margin -20px -30px 15px -30px
	&__category
		font-size 13px
		color $color__gray
	&__name
		margin-top 6px


.action
	padding 60px 100px 120px
	margin 0 -100px
	background $color__white
	box-shadow 0 0 20px 0 alpha($color__black, .2)
	&__wrapper
		padding 0 130px
	&__image
		margin 0 -40px 40px
		display block
		img
			display block
	&__category
		font-size 24px
		text-transform uppercase
		color alpha($color__black, .5)
		font-weight bold
		letter-spacing .03em
		margin-bottom .75em
	&__title
		font-size 48px
		font-weight bold
		letter-spacing .03em
		text-transform uppercase
		line-height 1
		margin-bottom .5em
	&__content
		font-size 20px
		line-height 1.6
		p + p
			margin-top 1.5em
	&__addition
		font-size 20px
		line-height 1.6
		color alpha($color__black, .6)
		margin-top 3em