$color__bg = #F9F2E9
$color__white = #FFF
$color__black = #000
$color__gray = #414141
$color__gray_dark = #222
$color__gray_light = #AAA
$color__orange = #F16722
$color__orange_dark = darken($color__orange, 20%)
$color__orange_lighten = lighten($color__orange, 20%)
$color__red = #D0021B