.product
	position fixed
	z-index 700
	top 0
	right 0
	bottom 0
	left 0
	display flex
	align-items center
	justify-content center
	&__shadow
		background alpha(#867F78, .8)
		position fixed
		z-index 1
		top 0
		right 0
		bottom 0
		left 0
	&__window
		background $color__white
		position relative
		z-index 2
		display flex
		align-items stretch
		color #55534F
		height 620px
	&__about
		width 540px
		padding 50px 60px
		box-sizing border-box
	&__other
		width 320px
		background #EFEBE5
		padding 40px 50px 0 50px
		box-sizing border-box
		display flex
		flex-flow column
		align-items stretch
		justify-content flex-start
	&__final
		width 270px
		background #55524F
		box-sizing border-box
		color $color__white
		padding 105px 50px 50px 50px
		display flex
		justify-content space-between
		flex-flow column
	&__title
		font-size 24px
		letter-spacing .06em
		line-height 1
		text-transform uppercase
		margin-bottom .5em
	&__ingre
		font-size 16px
		line-height 18px
		margin-bottom 1em
		opacity .9
	&__weight
		font-size 14px
		opacity .8
		margin-bottom .5em
	&__about &__price
		font-size 30px
		font-weight bold
		letter-spacing -.01em
	&__image
		margin-top 20px
		img
			max-width 100%
			display block
	&__close
		width 25px
		height 25px
		position absolute
		z-index 3
		padding 20px
		top 0
		right 0
		svg
			width 100%
			height 100%
			fill $color__white
	&__price
		font-size 36px
		font-weight 500
		text-align center
		padding 15px 0 15px 15px
		.mac &
			padding-bottom 9px
	&__buy
		width 100%


.product-other
	display flex
	justify-content space-between
	align-items center
	min-height 40px
	& + &
		margin-top 15px
	&__title
		font-size 20px
		text-transform uppercase
		letter-spacing .03em
		margin-bottom -2px


.product-sauce
	position relative
	&__select
		height 40px
		border-radius 20px
		border none
		background alpha(#55534F, .2)
		color #55534F
		-webkit-appearance none
		line-height 1
		-moz-appearance none
		text-indent 0.01px
		text-overflow ''
		-ms-appearance none
		appearance none !important
		box-sizing border-box
		padding 12px 60px 12px 15px
		.mac &
			padding-top 13px
			padding-bottom 11px
		&::-ms-expand
			display none
	i
		position absolute
		width 10px
		height 6.25px
		fill #55534F
		display block
		top 50%
		margin-top -2px
		right 15px
		svg
			display block
			width 100%
			height 100%


.product-bake
	display flex
	align-items center
	&__price
		font-size 20px
		margin 0 15px -2px 0
	&__action
		width 52px
		height 26px
		background alpha(#55534F, .2)
		border-radius 13px
		position relative
		display block
		cursor pointer
		transition-property background
		transition-duration .3s
		span
			width 20px
			height 20px
			border-radius 50%
			background #55534F
			position absolute
			left 3px
			top 3px
			transition-property left, background
			transition-duration .3s
			svg
				fill #F2F2F2
				width 8px
				height 14px
				display block
				position absolute
				top 3px
				left 6px
				transition-property fill
				transition-duration .3s
		&_active
			background #FF3800
			transition-duration .15s
			span
				transition-duration .15s
				left 29px
				background $color__white
				svg
					fill #FF3C00
					transition-duration .15s


.product-toppings-count
	display flex
	&__item
		width 12px
		height 12px
		background alpha(#55534F, .2)
		border-radius 50%
		display block
		&_active
			background #97BA40
		& + &
			margin-left 5px


.product-toppings
	overflow hidden
	height 100%
	position relative
	margin 0 -30px !important
	//border-top 1px solid alpha(#55534F, .2)
	padding 10px 0
	.swiper-wrapper
		flex-flow column
	.swiper-scrollbar
		width 6px
		top 12px
		bottom 15px
		right 0
		background alpha(#55534F, .1)
		position absolute
		border-radius 3px
		overflow hidden
	.swiper-scrollbar-drag
		width 6px
		background alpha(#55534F, .5)
		border-radius 3px
	.swiper-slide
		padding 0 30px
		box-sizing border-box
	&__item
		height 40px
		display flex
		align-items center
		justify-content space-between
		border-bottom 1px solid alpha(#55534F, .2)
		cursor pointer
	&_all &__item:not(&__item_active)
		pointer-events none
	&__group
		display flex
	&__price
		//
	&__action
		width 32px
		height 16px
		background alpha(#55534F, .2)
		position relative
		border-radius 8px
		margin-left 16px
		transition .3s background
		span
			width 12px
			height 12px
			background alpha(#55534F, .8)
			border-radius 50%
			position absolute
			left 2px
			top 2px
			transition-property background, left
			transition-duration .3s
	&__item_active &__action
		background #97BA40
		transition-duration .15s
		span
			left 18px
			background $color__white
			transition-duration .15s


.product-value
	color alpha($color__white, .8)
	&__item + &__item
		margin-top 20px
	&__about
		display flex
		justify-content space-between
		align-items center
		margin-bottom 4px
		.mac &
			margin-bottom 2px
	&__line
		width 100%
		height 1px
		background alpha($color__white, .2)
		position relative
		div
			position absolute
			height 3px
			left 0
			top -1px
			background $color__white
.product-count
	display flex
	margin 0 auto
	align-items center
	width 110px
	height 40px
	background alpha($color__white, .2)
	border-radius 20px
	&__action
		height 100%
		min-width 40px
		position relative
		cursor pointer
		&:before, &:after
			display block
			background $color__white
			position absolute
			top 50%
			left 50%
		&:before
			content ''
			width 10px
			height 2px
			margin -1px 0 0 -5px
		&_plus:after
			content ''
			width 2px
			height 10px
			margin -5px 0 0 -1px
		&_disable
			pointer-events none
	&__value
		min-width 30px
		text-align center
		font-size 18px
		font-weight 500
		.mac &
			margin-bottom -2px