.button
	box-sizing border-box
	display inline-block
	text-transform uppercase
	letter-spacing .075em
	text-align center
	transition-property background, border-color, color
	transition-duration .3s
	cursor pointer
	&:hover
		transition-duration .15s
	&_border
		border 2px solid $color__orange
		color $color__orange
		border-radius 23px
		&:hover
			color $color__orange_lighten
			border-color $color__orange_lighten
		&:active
			color $color__orange_dark
			border-color $color__orange_dark
	&_fill
		color $color__white !important
		background $color__orange
		&:hover
			background $color__orange_lighten
		&:active
			background $color__orange_dark
	&_small
		font-size 14px
		padding 6px 14px
		border-radius 13px
	&_medium
		font-size 16px
		padding 12px 24px
		border-radius 23px
		.mac &
			padding-top 13px
			padding-bottom 10px
	&_big
		font-size 18px
		font-weight 600
		padding 15px 30px
		border-radius 25px
		.mac &
			padding-top 16px
			padding-bottom 14px
	&_disabled
		pointer-events none
	&_disabled&_fill
		background $color__gray_light
