.journal
	background $color__white
	padding 80px 100px 100px 100px
	&__title
		font-size 48px
		text-transform uppercase
		letter-spacing .06em
		margin-bottom 1em
	&__list
		display flex
		flex-wrap wrap
		justify-content space-between
		& > *
			width 50%