.footer
	display flex
	border-top 1px solid alpha($color__gray, .1)
	align-items center
	color #555
	font-size 14px
	z-index 100
	@media (min-width 1000px)
		flex-flow row
		height 95px
	@media (max-width 1000px)
		flex-flow column
		padding 40px 0 30px 0
	@media (min-width 1340px)
		margin 60px 0 0 0
	@media (max-width 1340px) and (min-width 400px)
		margin 60px 30px 0 30px
	@media (max-width 400px)
		margin 20px 10px 0 10px
	&__about
		white-space nowrap
		@media (min-width 1050px)
			padding-right 65px
		@media (max-width 1050px) and (min-width 1000px)
			padding-right 30px
		@media (max-width 1000px)
			margin-bottom 15px
	&__social
		display flex
		flex-flow row
		@media (min-width 1050px)
			padding-right 65px
		@media (max-width 1050px) and (min-width 1000px)
			padding-right 30px
		@media (max-width 1000px)
			margin-bottom 30px
	&__franchise
		@media (max-width 1000px)
			margin-bottom 30px
		a
			display inline-block
			white-space nowrap
			border 2px solid $color__orange
			color darken($color__orange, 10%)
			padding 15px 28px 13px 28px
			font-size 16px
			border-radius 25px
			text-transform uppercase
			letter-spacing .075em
			transition .3s all
			&:hover
				color lighten($color__orange, 10%)
				border-color lighten($color__orange, 17%)
				transition .15s
			&:active
				color darken($color__orange, 20%)
				border-color darken($color__orange, 10%)
	&__endy
		@media (min-width 1000px)
			width 100%
			text-align right
		a
			color $color__orange
			&:hover
				color lighten($color__orange, 10%)
			&:active
				color darken($color__orange, 10%)


.footer-social
	width 40px
	height 40px
	border 2px solid #555
	display flex
	border-radius 50%
	align-items center
	justify-content center
	box-sizing border-box
	transition border-color .3s
	&:hover
		border-color $color__orange
		transition-duration .1s
		svg
			fill $color__orange
			transition-duration .1s
	& + &
		margin-left 20px
	&_vk svg
		width 11px
		height 14px
		margin-right -1px
	&_fb svg
		width 8px
		height 17px
	&_insta svg
		width 20px
		height 20px
	svg
		display inline-block
		fill #555
		transition fill .3s